[data-lang="de"] {
    display: none;
}
.link-3.button-turn-de {
    opacity: 0.6;
}

@media (max-width: 768px) and (min-width: 650px) {
    .div-block-12 {
        height: 200px;
    }
}

@media (max-width: 650px) and (min-width: 550px) {
    .div-block-12 {
        height: 270px;
    }
}

@media (max-width: 550px) and (min-width: 480px) {
    .div-block-12 {
        height: 320px;
    }
}